@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavaScriptSnippet
@inject UserManager<AppIdentityUser> _userManager
@model FncBranch
@{
    AppIdentityUser _user = await _userManager.FindByNameAsync(User.Identity.Name);
    var list_roles = await _userManager.GetRolesAsync(_user);

    var actionName = ViewContext.RouteData.Values["action"].ToString();
    var controllerName = ViewContext.RouteData.Values["controller"].ToString();
    var areaName = ViewContext.RouteData.Values["area"].ToString();
    ViewData["action"] = actionName;
    ViewData["controller"] = controllerName;
    ViewData["area"] = areaName;
    ViewData["Title"] = controllerName;
    string path = "/" + areaName + "/" + controllerName;
}
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">前台账目<small class="hidden-xs" style="color:red">&emsp; @ViewData["Branch"].ToString() &nbsp;·&nbsp; @ViewData["UserName"].ToString()</small></h3>
                    <div class="box-tools pull-right">
                        @if (list_roles.Contains("前台审核"))
                        {
                            <button title="审核" id="audit" class="btn btn-box-tool"> 审核</button>
                        }
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                        <div class="btn-group">
                            <button type="button" class="btn btn-box-tool dropdown-toggle" data-toggle="dropdown" title="改变显示行数" style="padding-bottom:6px"><i class="fa fa-sort-numeric-asc"></i></button>
                            <ul class="dropdown-menu dropdown-menu-left" role="menu">
                                <li><a id="page-10"><i class="fa fa-circle-o text-light-blue"></i>10</a></li>
                                <li><a id="page-15"><i class="fa fa-circle-o text-light-blue"></i>15</a></li>
                                <li><a id="page-20"><i class="fa fa-circle-o text-light-blue"></i>20</a></li>
                                <li><a id="page-30"><i class="fa fa-circle-o text-light-blue"></i>30</a></li>
                                <li><a id="page-all"><i class="fa fa-circle-o text-light-blue"></i>全部</a></li>
                            </ul>
                        </div>
                        <div class="btn-group  hidden-xs" style="padding-top:1px">
                            <button type="button" class="btn btn-box-tool dropdown-toggle" data-toggle="dropdown" title="显示隐藏列">
                                <i class="fa fa-bars"></i>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-left" role="menu" style="padding-left:10px">
                                <li><input type="checkbox" class="toggle-vis" data-column="3" />&nbsp;<small>手机号</small></li>
                                <li><input type="checkbox" class="toggle-vis" data-column="15" />&nbsp;<small>对应管家</small></li>
                                <li><input type="checkbox" class="toggle-vis" data-column="16" />&nbsp;<small>前台组长</small></li>
                                <li><input type="checkbox" class="toggle-vis" data-column="17" />&nbsp;<small>管家组长</small></li>
                                <li><input type="checkbox" class="toggle-vis" data-column="18" />&nbsp;<small>对应关系</small></li>
                            </ul>
                        </div>
                        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                    </div>
                </div>
                <div class="box-body table-responsive">
                    <div class="form-group">
                        <div class="form-group">
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <select id="date_select" class="form-control select2" style="width: 100%;">
                                    <option value="7">最近30天</option>
                                    <option value="0">今天</option>
                                    <option value="1">昨天</option>
                                    <option value="2">最后一周</option>
                                    <option value="3">本月</option>
                                    <option value="4">上个月</option>
                                    <option value="5">最后三个月</option>
                                    <option value="6">最后一年</option>
                                </select>
                            </div>
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <input type="text" placeholder="开始日期" id="date_beg" class="form-control">
                            </div>
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <input type="text" placeholder="结束日期" id="date_end" class="form-control">
                            </div>
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <input type="text" placeholder="搜索" id="search" class="form-control">
                            </div>
                        </div>
                    </div>
                    <table id="table-1" class="table  table-bordered table-striped table-hover" width="100%">
                        <thead>
                            <tr>
                                <th>
                                    录入时间
                                </th>
                                <th>
                                    房号
                                </th>
                                <th>
                                    入住人
                                </th>
                                <th>
                                    手机号
                                </th>
                                <th>
                                    入住日期
                                </th>
                                <th>
                                    离店日期
                                </th>
                                <th>
                                    渠道
                                </th>
                                <th>
                                    单价
                                </th>
                                <th>
                                    总价
                                </th>
                                <th>
                                    应收款
                                </th>
                                <th>
                                    已收款
                                </th>
                                <th>
                                    是否结帐
                                </th>
                                <th>
                                    前台审核
                                </th>
                                <th>
                                    收款明细
                                </th>
                                <th>
                                    录单人
                                </th>
                                <th class="col-visible">
                                    管家
                                </th>
                                <th class="col-visible">
                                    前台组长
                                </th>
                                <th class="col-visible">
                                    管家组长
                                </th>
                                <th class="col-visible">
                                    对应关系
                                </th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">渠道占比<small class="hidden-xs" style="color:skyblue">&emsp; @ViewData["Branch"].ToString() &nbsp;·&nbsp; @ViewData["UserName"].ToString()</small></h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                    </div>
                </div>
                <div class="box-body">
                    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 hidden-xs">
                        <div id="Pie1Chart" style="height:500px"></div>
                    </div>
                    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 hidden-xs">
                        <div id="Pie2Chart" style="height:500px"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">日分析<small class="hidden-xs" style="color:skyblue">&emsp; @ViewData["Branch"].ToString() &nbsp;·&nbsp; @ViewData["UserName"].ToString()</small></h3>
                    <div class="box-tools pull-right">
                        <button id="DailyProfitRateBtn" title="Room Revenue" type="button" class="btn btn-box-tool hidden-xs">RRe.</button>
                        <button id="DailyProfitBtn" title="Occupancy" type="button" class="btn btn-box-tool hidden-xs">Occ.</button>
                        <button id="DailyHandBtn" title="Average Daily Rate" type="button" class="btn btn-box-tool hidden-xs">ADR</button>
                        <button id="DailyPointBtn" title="Revenue Per Available Room" type="button" class="btn btn-box-tool hidden-xs">RevPAR</button>
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                    </div>
                </div>
                <div class="box-body">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 hidden-xs">
                        <div id="DailyBaseChart" style="height: 300px;">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">日分析数据<small class="hidden-xs" style="color:skyblue">&emsp; @ViewData["Branch"].ToString() &nbsp;·&nbsp; @ViewData["UserName"].ToString()</small></h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                    </div>
                </div>
                <div class="box-body table-responsive">
                    <div class="form-group">
                        <div class="col-md-3 col-sm-6 col-xs-12 pull-right">
                            <input type="text" placeholder="搜索" id="search" class="form-control">
                        </div>
                    </div>
                    <table id="table-2" class="table  table-bordered table-striped table-hover"  width="100%">
                        <thead>
                            <tr>
                                <th>
                                    日期
                                </th>
                                <th>
                                    房费收入
                                </th>
                                <th>
                                    实售间夜
                                </th>
                                <th>
                                    总间夜
                                </th>
                                <th>
                                    平均房价
                                </th>
                                <th>
                                    单房收益
                                </th>
                                <th>
                                    出租率
                                </th>
                                <th>
                                    本月累计房费收入
                                </th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modal-default">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">提示</h4>
                </div>
                <div class="modal-body">
                    <p>执行中，请稍后&hellip;</p>
                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts{
    <script src="~/js/dateRangeSelector.js"></script>
    <script type="text/javascript" src="~/lib/bootstrap-datepicker/js/locales/bootstrap-datepicker.zh-CN.js" charset="UTF-8"></script>
    <script>
        $(function () {
            var _fncBranch =@Html.Raw(Json.Serialize(Model));
            var _roles=@Json.Serialize(list_roles);
            var _ids = [];
            var DailyBaseData = [];
            var DailyBaseChart = echarts.init(document.getElementById('DailyBaseChart'));
            var Pie1Chart = echarts.init(document.getElementById('Pie1Chart'));
            var Pie2Chart = echarts.init(document.getElementById('Pie2Chart'));
            var P1legendData = [];
            var P1series1Data = [];
            var P1series2Data = [];
            var P2legendData = [];
            var P2seriesData = [];

            //#region 日分析报告
            $("#DailyProfitRateBtn").click(function () {
                Render_DailyBaseChart(DailyBaseData, 1);
            });

            $("#DailyProfitBtn").click(function () {
                Render_DailyBaseChart(DailyBaseData, 2);
            });

            $("#DailyHandBtn").click(function () {
                Render_DailyBaseChart(DailyBaseData, 3);
            });

            $("#DailyPointBtn").click(function () {
                Render_DailyBaseChart(DailyBaseData, 4);
            });

            var optionDailyBase = {
                //color: ['#3398DB','gray'],
                tooltip: {
                    trigger: 'axis',
                    axisPointer: {
                        type: 'shadow'
                    }
                },
                legend: {
                    data: [],
                },
                toolbox: {
                    show: true,
                    feature: {
                        dataZoom: {
                            yAxisIndex: 'none'
                        },
                        dataView: { show: true, readOnly: false },
                        magicType: { show: true, type: ['line', 'bar'] },
                        restore: { show: true },
                        saveAsImage: { show: true }
                    }
                },
                calculable: true,
                grid: {
                    left: '3%',
                    right: '8%',
                    top: '15%',
                    bottom: '5%',
                    containLabel: true
                },
                dataZoom: [
                    {
                        id: 'dataZoomX',
                        type: 'inside',
                        xAxisIndex: [0],
                        filterMode: 'filter'
                    }
                ],
                xAxis:
                {
                    type: 'category',
                    data: []
                },
                yAxis: [
                    {
                        type: 'value',
                        axisLabel: {
                            formatter: '{value}'
                        },
                    }

                ],
                series: [
                    {
                        name: '',
                        type: 'bar',
                        barWidth: '60%',
                        data: [],
                        markPoint: {
                            data: [
                                { type: 'max', name: '最大值' },
                                { type: 'min', name: '最小值' }
                            ]
                        },
                        markLine: {
                            data: [
                                { type: 'average', name: '平均值' }
                            ]
                        },
                        label: {
                            normal: {
                                show: false,
                                formatter: '{c}',
                                position: 'top',
                                textStyle: {
                                    color: '#000'
                                }
                            }
                        }
                    },
                ]
            };

            function Render_DailyBaseChart(data, type) {

                optionDailyBase.xAxis.data = [];
                optionDailyBase.series[0].data = [];
                var seriesName = "";

                if (type == 1) {
                    seriesName = "房费收入";
                }
                else if (type == 2) {
                    seriesName = "出租率";
                }
                else if (type == 3) {
                    seriesName = "平均房价";
                }
                else if (type == 4) {
                    seriesName = "单房收益";
                }

                optionDailyBase.series[0].name = seriesName;
                optionDailyBase.legend.data.push(seriesName);
                if (data != null) {
                    $.each(data, function () {
                        optionDailyBase.xAxis.data.push(moment(this.month).format("YYYY-MM-DD"));
                        //房费流水
                        if (type == 1) {
                            optionDailyBase.series[0].data.push((this.houseAmount).toFixed(0));
                            optionDailyBase.series[0].label.normal.formatter = function (p) {
                                return (p.value > 0 || p.value < 0) ? ('￥' + p.value) : '';
                            };
                        }
                        //出租率
                        else if (type == 2) {
                            optionDailyBase.series[0].data.push((this.rate * 100).toFixed(2));
                            optionDailyBase.series[0].label.normal.formatter = function (p) {
                                return (p.value > 0 || p.value < 0) ? (p.value + " %") : '';
                            };
                        }
                        //均价
                        else if (type == 3) {
                            optionDailyBase.series[0].data.push(this.average.toFixed(0));
                            optionDailyBase.series[0].label.normal.formatter = function (p) {
                                return (p.value > 0 || p.value < 0) ? ('a.' + p.value) : '';
                            };
                        }
                        //有效均价
                        else if (type == 4) {
                            optionDailyBase.series[0].data.push(this.validAverage.toFixed(0));
                            optionDailyBase.series[0].label.normal.formatter = function (p) {
                                return (p.value > 0 || p.value < 0) ? ('v.' + p.value) : '';
                            };
                        }
                    })

                    if (type == 1) {
                        optionDailyBase.yAxis[0].axisLabel.formatter = '{value} 元';
                        optionDailyBase.tooltip.formatter = function (params) {
                            var res = params[0].seriesName + '<br/>' +
                                params[0].name + "：" + params[0].value + " 元";
                            return res;
                        }
                    } else if (type == 2) {
                        optionDailyBase.yAxis[0].axisLabel.formatter = '{value} %';
                        optionDailyBase.tooltip.formatter = function (params) {
                            var res = params[0].seriesName + '<br/>' +
                                params[0].name + "：" + params[0].value + " %";
                            return res;
                        }
                    } else if (type == 3) {
                        optionDailyBase.yAxis[0].axisLabel.formatter = '{value} 元';
                        optionDailyBase.tooltip.formatter = function (params) {
                            var res = params[0].seriesName + '<br/>' +
                                params[0].name + "：" + params[0].value + " 元";
                            return res;
                        }
                    } else if (type == 4) {
                        optionDailyBase.yAxis[0].axisLabel.formatter = '{value} 元';
                        optionDailyBase.tooltip.formatter = function (params) {
                            var res = params[0].seriesName + '<br/>' +
                                params[0].name + "：" + params[0].value + " 元";
                            return res;
                        }
                    }
                    DailyBaseChart.setOption(optionDailyBase);
                }
            };
            //#endregion

            //#region 月Pie图表
            var optionMonthPie = {
                title: {
                    text: 'MonthPie',
                    show: false
                },
                tooltip: {
                    show: false,
                    trigger: 'item',
                    formatter: "{a} <br/>{b} : {c} ({d}%)"
                },
                legend: {
                    show: false,
                    type: 'plain',
                    tooltip: {
                        show: true
                    },
                    orient: 'vertical',
                    right: 10,
                    top: 20,
                    bottom: 20,
                    data: []
                },
                series: [
                    {
                        name: 'SymbolCode',
                        type: 'pie',
                        radius: ['50%', '80%'],
                        center: ['50%', '50%'],
                        avoidLabelOverlap: false,
                        label: {
                            normal: {
                                show: false,
                                position: 'center',
                                formatter: '{b} : {c} ({d}%)',
                            },
                            emphasis: {
                                show: true,
                                textStyle: {
                                    fontSize: '12',
                                    fontWeight: 'bold'
                                }
                            }
                        },
                        data: [],
                        itemStyle: {
                            emphasis: {
                                shadowBlur: 10,
                                shadowOffsetX: 0,
                                shadowColor: 'rgba(0, 0, 0, 0.5)'
                            }
                        }
                    }
                ]
            };

            function Render_MonthPieChart(index) {
                var seriesData = [];
                var data = DailyBaseData;
                var idx = parseInt(index);
                for (var i = 0; i < data[idx].buySellData.length; i++) {
                    var _name = data[idx].buySellData[i].symbolCode;
                    var _value = parseFloat(data[idx].buySellData[i].lots).toFixed(2);;
                    seriesData.push({ name: _name, value: _value });
                }
                optionMonthPie.series[0].data = seriesData;
                MonthPieChart.setOption(optionMonthPie);
            };
            //#endregion

            //#region Pie1Chart设置
            Pie1Chart.setOption({
                title: {
                    text: '渠道占比',
                    x:'center',
                    show: true
                },
                tooltip: {
                    show: true,
                    trigger: 'item',
                    formatter: "{a} <br/>{b} : {c} ({d}%)"
                },
                legend: {
                    orient: 'vertical',
                    x: 'left',
                    data: P1legendData,
                },
                series: [
                    {
                        name: '金额占比',
                        type: 'pie',
                        radius: ['30%', '45%'],
                        avoidLabelOverlap: false,
                        label: {
                            normal: {
                                show: false,
                                position: 'center',
                                formatter: '{b} : {c} ({d}%)',
                            },
                            emphasis: {
                                show: true,
                                textStyle: {
                                    fontSize: '12',
                                    fontWeight: 'bold'
                                }
                            }
                        },
                        labelLine: {
                            normal: {
                                show: false
                            }
                        },
                        itemStyle: {
                            emphasis: {
                                shadowBlur: 10,
                                shadowOffsetX: 0,
                                shadowColor: 'rgba(0, 0, 0, 0.5)'
                            }
                        },
                        data: []
                    },
                    {
                        name: '渠道占比',
                        type: 'pie',
                        radius: ['50%', '65%'],
                        label: {
                            normal: {
                                formatter: '{a|{a}}{abg|}\n{hr|}\n  {b|{b}：}{c}  {per|{d}%}  ',
                                backgroundColor: '#eee',
                                borderColor: '#aaa',
                                borderWidth: 1,
                                borderRadius: 4,
                                rich: {
                                    a: {
                                        color: '#999',
                                        lineHeight: 22,
                                        align: 'center'
                                    },
                                    hr: {
                                        borderColor: '#aaa',
                                        width: '100%',
                                        borderWidth: 0.5,
                                        height: 0
                                    },
                                    b: {
                                        fontSize: 16,
                                        lineHeight: 33
                                    },
                                    per: {
                                        color: '#eee',
                                        backgroundColor: '#334455',
                                        padding: [2, 4],
                                        borderRadius: 2
                                    }
                                }
                            }
                        },
                        data: []
                    }
                ]
            });
            Pie1Chart.showLoading();
            //#endregion

            //#region Pie2Chart设置
            Pie2Chart.setOption({
                title: {
                    text: '收款占比',
                    x:'center',
                    show: true
                },
                tooltip: {
                    show: false,
                    trigger: 'item',
                    formatter: "{a} <br/>{b} : {c} ({d}%)"
                },
                legend: {
                    show: true,
                    type: 'scroll',
                    orient: 'vertical',
                    right: 10,
                    top: 10,
                    bottom: 10,
                    data: P2legendData
                },
                series: [
                    {
                        name: '收款占比',
                        type: 'pie',
                        radius: ['45%', '65%'],
                        center: ['50%', '50%'],
                        avoidLabelOverlap: false,
                        data: P2seriesData,
                        label: {
                            normal: {
                                show: false,
                                position: 'center',
                                formatter: '{b} : {c} ({d}%)',
                            },
                            emphasis: {
                                show: true,
                                textStyle: {
                                    fontSize: '12',
                                    fontWeight: 'bold'
                                }
                            }
                        },
                        labelLine: {
                            normal: {
                                show: false
                            }
                        },
                        itemStyle: {
                            emphasis: {
                                shadowBlur: 10,
                                shadowOffsetX: 0,
                                shadowColor: 'rgba(0, 0, 0, 0.5)'
                            }
                        }
                    }
                ]
            });
            Pie2Chart.showLoading();
            //#endregion

            //#region Ajax optionAjax
            var optionAjax = {
                type: "post",
                async: true,
                url: "",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: {},
                beforeSend: function () {
                    $('#modal-default').modal('show');
                },
                success: function (result) {
                },
                complete: function () {
                    $('#modal-default').modal('hide');
                },
            };
            //#endregion

            //#region Ajax GetFrontList
            function GetFrontList() {
                var start = moment().add('-1', "M").format("YYYY-MM-DD");
                var end = moment().add('1', "d").format("YYYY-MM-DD");
                if ($("#date_beg").val() != '')
                    start = moment($("#date_beg").val()).format("YYYY-MM-DD");
                if ($("#date_end").val() != '')
                    end = moment($("#date_end").val()).format("YYYY-MM-DD");
                optionAjax.url = "/Branch/BrhFrontDeskAccount/GetFrontList";
                optionAjax.data = JSON.stringify({
                    branchName: _fncBranch.branchName,
                    branchId: _fncBranch.branchId,
                    count: _fncBranch.count,
                    startDate: start,
                    endDate: end
                });
                optionAjax.success = function (result) {
                    DailyBaseData = result.dailyList;
                    Render_DailyBaseChart(DailyBaseData, 1);
                    P1legendData = [];
                    P1series1Data = [];
                    P1series2Data = [];
                    P2legendData = [];
                    P2seriesData = [];
                    for (var i = 0; i < result.pie1List.length; i++) {
                        P1legendData.push(result.pie1List[i].channel);
                        P1series1Data.push({ name: result.pie1List[i].channel, value: result.pie1List[i].aTotal });
                        P1series2Data.push({ name: result.pie1List[i].channel, value: result.pie1List[i].cTotal });
                    }
                    for (var i = 0; i < result.pie2List.length; i++) {
                        P2legendData.push(result.pie2List[i].payWay);
                        P2seriesData.push({ name: result.pie2List[i].payWay,value: result.pie2List[i].total });
                    }
                    var legendShow = false;
                    var centerValue = ['50%', '50%'];
                    if (document.body.clientWidth > 1200) {
                        legendShow = true;
                        centerValue = ['50%', '50%'];
                    }
                    Pie1Chart.hideLoading();
                    Pie1Chart.setOption({
                        legend: {
                            show: legendShow,
                            data: P1legendData
                        },
                        series: [
                            {
                                data: P1series1Data
                            },
                            {
                                data: P1series2Data
                            },
                        ]
                    });
                    Pie2Chart.hideLoading();
                    Pie2Chart.setOption({
                        legend: {
                            show: legendShow,
                            data: P2legendData
                        },
                        series: [
                            {
                                data: P2seriesData
                            },
                        ]
                    });
                    table1.api().clear();
                    table1.api().rows.add(result.frontList).draw();
                    table2.api().clear();
                    table2.api().rows.add(result.dailyList).draw();
                };
                $.ajax(optionAjax);
            };

            $("#audit").click(function () {
                var start = moment().add('-1', "M").format("YYYY-MM-DD");
                var end = moment().add('1', "d").format("YYYY-MM-DD");
                if ($("#date_beg").val() != '')
                    start = moment($("#date_beg").val()).format("YYYY-MM-DD");
                if ($("#date_end").val() != '')
                    end = moment($("#date_end").val()).format("YYYY-MM-DD");
                optionAjax.url = "/Branch/BrhFrontDeskAccount/UpdateList";
                optionAjax.data = JSON.stringify({
                    branchName: _fncBranch.branchName,
                    branchId: _fncBranch.branchId,
                    count: _fncBranch.count,
                    startDate: start,
                    endDate: end,
                    ids: _ids
                });
                optionAjax.success = function (result) {
                    DailyBaseData = result.dailyList;
                    Render_DailyBaseChart(DailyBaseData, 1);
                    P1legendData = [];
                    P1series1Data = [];
                    P1series2Data = [];
                    P2legendData = [];
                    P2seriesData = [];
                    for (var i = 0; i < result.pie1List.length; i++) {
                        P1legendData.push(result.pie1List[i].channel);
                        P1series1Data.push({ name: result.pie1List[i].channel, value: result.pie1List[i].aTotal });
                        P1series2Data.push({ name: result.pie1List[i].channel, value: result.pie1List[i].cTotal });
                    }
                    for (var i = 0; i < result.pie2List.length; i++) {
                        P2legendData.push(result.pie2List[i].payWay);
                        P2seriesData.push({ name: result.pie2List[i].payWay, value: result.pie2List[i].total });
                    }
                    var legendShow = false;
                    var centerValue = ['50%', '50%'];
                    if (document.body.clientWidth > 1200) {
                        legendShow = true;
                        centerValue = ['50%', '50%'];
                    }
                    Pie1Chart.hideLoading();
                    Pie1Chart.setOption({
                        legend: {
                            show: legendShow,
                            data: P1legendData
                        },
                        series: [
                            {
                                data: P1series1Data
                            },
                            {
                                data: P1series2Data
                            },
                        ]
                    });
                    Pie2Chart.hideLoading();
                    Pie2Chart.setOption({
                        legend: {
                            show: legendShow,
                            data: P2legendData
                        },
                        series: [
                            {
                                data: P2seriesData
                            },
                        ]
                    });
                    table1.api().clear();
                    table1.api().rows.add(result.frontList).draw();
                    table2.api().clear();
                    table2.api().rows.add(result.dailyList).draw();
                };
                $.ajax(optionAjax);
            });

            //#endregion

            //#region table1初始化
            var table1 = $('#table-1').dataTable(
                {
                    responsive: true,
                    order: [[0, "desc"]],
                    dom:
                        "<'row'<'col-sm-6'><'col-sm-6'>>" +
                        "<'row'<'col-sm-12'tr>>" +
                        "<'row'<'col-sm-5'i><'col-sm-7'p>>",
                    language: {
                        processing: "加载中...",
                        lengthMenu: "每页显示 _MENU_ 条数据",
                        zeroRecords: "没有匹配结果",
                        info: "显示第 _START_ 至 _END_ 项结果，共 _TOTAL_ 项",
                        infoEmpty: "显示第 0 至 0 项结果，共 0 项",
                        infoFiltered: "(由 _MAX_ 项结果过滤)",
                        infoPostFix: "",
                        search: "搜索:",
                        url: "",
                        emptyTable: "没有匹配结果",
                        loadingRecords: "载入中...",
                        thousands: ",",
                        paginate: {
                            first: "首页",
                            previous: "上一页",
                            next: "下一页",
                            last: "末页"
                        },
                        aria: {
                            sortAscending: ": 以升序排列此列",
                            sortDescending: ": 以降序排列此列"
                        }
                    },
                    data: [],
                    columns: [
                        { data: "enteringDate" },
                        { data: "houseNumber" },
                        { data: "customerName" },
                        { data: "phone" },
                        { data: "startDate" },
                        { data: "endDate" },
                        { data: "channel" },
                        { data: "unitPrice" },
                        { data: "totalPrice" },
                        { data: "receivable" },
                        { data: "received" },
                        { data: "isFinish" },
                        { data: "isFront" },
                        { data:"brhFrontPaymentDetial"},
                        { data: "enteringStaff" },
                        { data: "steward" },
                        { data: "frontDeskLeader" },
                        { data: "stewardLeader" },
                        { data: "relationStaff" },
                    ],
                    columnDefs: [
                        {
                            targets: "col-visible",
                            visible: false,
                        },
                        {
                            targets: [0],
                            render: function (data, type, row, meta) {
                                var temp = new Date(data);
                                return '<span title="' + row.note + '">' + temp.Format('YYYY-MM-DD')+ '</span>';
                            }
                        },
                        {
                            targets: [4,5],
                            render: function (data, type, row, meta) {
                                var temp = new Date(data);
                                return temp.Format('YYYY-MM-DD');
                            }
                        },
                        {
                            targets: [11],
                            createdCell: function (td, cellData, rowData, row, col) {
                                if (cellData)
                                    $(td).css('color', '#4cae05');
                                else
                                    $(td).css('color', '#ff5256');
                            },
                            render: function (data, type, row, meta) {
                                if (data)
                                    return "已结账";
                                else
                                    return "未结账";
                            }
                        },
                        {
                            targets: [12],
                            createdCell: function (td, cellData, rowData, row, col) {
                                if (cellData)
                                    $(td).css('color', '#4cae05');
                                else
                                    $(td).css('color', '#ff5256');
                            },
                            render: function (data, type, row, meta) {
                                if (_roles.indexOf("前台审核") > -1) {
                                    if (data) {
                                        if (row.isFinance) {
                                            return '<span>' + '<input type="checkbox" class="icheckbox_flat-blue" checked disabled="disabled" style="margin:0px"  name="ids" data-id="' + row.frontDeskAccountsId + '">' + " 前台已审" + '</span>';
                                        }
                                        else {
                                            return '<span>' + '<input type="checkbox" class="icheckbox_flat-blue" checked style="margin:0px"  name="ids" data-id="' + row.frontDeskAccountsId + '">' + " 前台已审" + '</span>';
                                        }
                                    }
                                    else
                                        return '<span>' + '<input type="checkbox" class="icheckbox_flat-blue" style="margin:0px"  name="ids" data-id="' + row.frontDeskAccountsId + '">' + " 前台未审" + '</span>';
                                }
                                else {
                                    if (data) {
                                        return "前台已审";
                                    }
                                    else {
                                        return "前台未审";
                                    }
                                }
                            }
                        },
                        {
                            targets: [13],
                            createdCell: function (td, cellData, rowData, row, col) {
                                if (cellData.length > 0) {
                                    $(td).css('margin', '0');
                                    $(td).css('padding', '0');
                                }
                            },
                            render: function (data, type, row, meta) {
                                if (data.length > 0) {
                                    var hl = '<table class="table  no-margin no-padding">';
                                    for (var i = 0; i < data.length; i++) {
                                        hl += '<tr><td>' + data[i].payWay + '</td>';
                                        hl += '<td>' + data[i].payAmount + '</td></tr>';
                                    }
                                    hl += '</table>';
                                    return hl;
                                }
                                else
                                    return "无";
                            }
                        },
                        ],
                    });
                //#endregion

            //#region table2初始化
            var table2 = $('#table-2').dataTable(
                {
                    responsive: true,
                    order: [[0, "desc"]],
                    dom:
                        "<'row'<'col-sm-6'><'col-sm-6'>>" +
                        "<'row'<'col-sm-12'tr>>" +
                        "<'row'<'col-sm-5'i><'col-sm-7'p>>",
                    language: {
                        processing: "加载中...",
                        lengthMenu: "每页显示 _MENU_ 条数据",
                        zeroRecords: "没有匹配结果",
                        info: "显示第 _START_ 至 _END_ 项结果，共 _TOTAL_ 项",
                        infoEmpty: "显示第 0 至 0 项结果，共 0 项",
                        infoFiltered: "(由 _MAX_ 项结果过滤)",
                        infoPostFix: "",
                        search: "搜索:",
                        url: "",
                        emptyTable: "没有匹配结果",
                        loadingRecords: "载入中...",
                        thousands: ",",
                        paginate: {
                            first: "首页",
                            previous: "上一页",
                            next: "下一页",
                            last: "末页"
                        },
                        aria: {
                            sortAscending: ": 以升序排列此列",
                            sortDescending: ": 以降序排列此列"
                        }
                    },
                    data: [],
                    columns: [
                        { data: "month" },
                        { data: "houseAmount" },
                        { data: "houseCount" },
                        { data: "houseTotal" },
                        { data: "average" },
                        { data: "validAverage" },
                        { data: "rate" },
                        {data:"saleAmount"}
                    ],
                    columnDefs: [
                        {
                            targets: [0],
                            render: function (data, type, row, meta) {
                                var temp = new Date(data);
                                return temp.Format('YYYY年MM月DD日');
                            }
                        },
                        {
                            targets: [1],
                            render: function (data, type, row, meta) {
                                var result = parseFloat(data);
                                return result.toFixed(2);
                            }
                        },
                        {
                            targets: [ 4, 5],
                            render: function (data, type, row, meta) {
                                var result = parseFloat(data);
                                return Math.round(result);
                            }
                        },
                        {
                            targets: [],
                            render: function (data, type, row, meta) {
                                var result = parseFloat(data) * 100;
                                return Math.round(result) + " 点";
                            }
                        },
                        {
                            targets: [6],
                            render: function (data, type, row, meta) {
                                var result = parseFloat(data) * 100;
                                return result.toFixed(2) + " %";
                            }
                        },
                        {
                            targets: [7],
                            render: function (data, type, row, meta) {
                                var result = parseFloat(data);
                                return result.toFixed(2);
                            }
                        },
                    ],
                });
            $("#search").keyup(function () { table2.api().search($("#search").val()).draw(); });
            //#endregion

            //#region 显示隐藏列
            $('.toggle-vis').on('change', function (e) {
                e.preventDefault();
                console.log($(this).attr('data-column'));
                var column = table1.api().column($(this).attr('data-column'));
                column.visible(!column.visible());
            });
            //#endregion

            //#region table1点击事件
            $("#search").keyup(function () { table1.api().search($("#search").val()).draw(); });
            $("#date_beg,#date_end").keyup(function () { GetFrontList(); });
            $("#date_beg,#date_end").change(function () { GetFrontList(); });
            $("#page-10").click(function () { table1.api().page.len(10).draw(); });
            $("#page-15").click(function () { table1.api().page.len(15).draw(); });
            $("#page-20").click(function () { table1.api().page.len(20).draw(); });
            $("#page-30").click(function () { table1.api().page.len(30).draw(); });
            $("#page-all").click(function () { table1.api().page.len(-1).draw(); });

            //#region 点击input[name="ids"]时触发的事件
            $("#table-1 tbody").on("change", 'tr input[name="ids"]', function () {
                var $tr = $(this).parents('tr');
                var row = table1.api().row($tr);
                var data = row.data();

                if ($(this).is(':checked')) {
                    _ids.push($(this).attr("data-id"));
                    console.log(_ids);
                }
                else {
                    var index = _ids.indexOf($(this).attr("data-id"));
                    if (index > -1) {
                        _ids.splice(index, 1);
                    }
                    console.log(_ids);

                }
            });
            //#endregion
            //#endregion

            //#region 设置一些细节
            $("#date_beg,#date_end").datepicker({
                format: 'yyyy-mm-dd',
                autoclose: true,
                language: "zh-CN",
                todayBtn: 'linked',
                todayHighlight: true,
                //initialDate:'now',
            });

            //Select2
            $('.select2').select2();
            $('input[type="checkbox"].flat-blue, input[type="radio"].flat-blue').iCheck({
                checkboxClass: 'icheckbox_flat-blue',
                radioClass: 'iradio_flat-blue'
            })
            //#endregion

            //#region 日期区间选择事件
            $("#date_select").change(function () {
                var flag = parseInt($("#date_select").val());
                switch (flag) {
                    // 当天
                    case 0:
                        $('#date_beg').val(getTodayDate);
                        $('#date_end').val(getCurrentDate);
                        break;
                    // 昨天
                    case 1:
                        $('#date_beg').val(getYesterdayDate);
                        $('#date_end').val(getTodayDate);
                        break;
                    // 本周
                    case 2:
                        $('#date_beg').val(getWeekStartDate);
                        $('#date_end').val(getWeekEndDate);
                        break;
                    // 当月
                    case 3:
                        $('#date_beg').val(getMonthStartDate);
                        $('#date_end').val(getCurrentDate);
                        break;
                    // 上个月
                    case 4:
                        $('#date_beg').val(getPreMonthStartDate);
                        $('#date_end').val(getMonthStartDate);
                        break;
                    // 最近三月
                    case 5:
                        $('#date_beg').val(getTreeMonthStartDate);
                        $('#date_end').val(getCurrentDate);
                        break;
                    // 最近一年
                    case 6:
                        $('#date_beg').val(getYearStartDate);
                        $('#date_end').val(getCurrentDate);
                        break;
                    default:
                        $('#date_beg').val("");
                        $('#date_end').val("");
                        break;
                }
                GetFrontList();
            });
            //#endregion

            GetFrontList();
            setTimeout(function () {
                window.onresize = function () {
                    DailyBaseChart.resize();
                    Pie1Chart.resize();
                    Pie2Chart.resize();
                }
            }, 200);
        });
    </script>
}
