@model IEnumerable<JJNG.Data.Branch.BrhImprestAccounts>

@{
    var actionName = ViewContext.RouteData.Values["action"].ToString();
    var controllerName = ViewContext.RouteData.Values["controller"].ToString();
    var areaName = ViewContext.RouteData.Values["area"].ToString();
    ViewData["action"] = actionName;
    ViewData["controller"] = controllerName;
    ViewData["area"] = areaName;
    ViewData["Title"] = controllerName;
    string path = "/" + areaName + "/" + controllerName;
}
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">备用金管理<small style="color:red">&emsp; @ViewData["BelongTo"].ToString() &nbsp;·&nbsp; @ViewData["UserName"].ToString()</small></h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                    </div>
                </div>
                <div class="box-body table-responsive">
                    <div class="form-group">
                        <div class="col-md-3 col-sm-6 col-xs-12 no-padding pull-right">
                            <input type="text" placeholder="搜索" id="search" class="form-control">
                        </div>
                    </div>
                    <table id="table-1" class="table  table-bordered table-striped table-hover" width="100%">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.ImprestAccountsName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Balance)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Equity)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Manager)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Department)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.BelongTo)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ImprestAccountsName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Balance)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Equity)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Manager)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Department)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.BelongTo)
                                    </td>
                                    <td>
                                        <a asp-action="Index" asp-controller="BrhImprestRecord" asp-route-area="Branch" asp-route-id="@item.ImprestAccountsId" class="btn-sm btn-primary" style="width:70px;margin-right:5px; min-width:50px;">
                                            <i class="glyphicon glyphicon-plus"></i> 增加明细
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                <th colspan="1" style="text-align:right !important">合计:</th>
                                <th>@ViewData["Total"]</th>
                                <th colspan="5"></th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts{
    <script src="~/js/range_dates.js"></script>
    <script src="~/js/dateRangeSelector.js"></script>
    <script>
        $(function () {
            //#region table1初始化
            var table1 = $('#table-1').dataTable(
                {
                    order: [[0, "desc"]],
                    dom:
                        "<'row'<'col-sm-6'><'col-sm-6'>>" +
                        "<'row'<'col-sm-12'tr>>" +
                        "<'row'<'col-sm-5'i><'col-sm-7'p>>",
                    language: {
                        processing: "加载中...",
                        lengthMenu: "每页显示 _MENU_ 条数据",
                        zeroRecords: "没有匹配结果",
                        info: "显示第 _START_ 至 _END_ 项结果，共 _TOTAL_ 项",
                        infoEmpty: "显示第 0 至 0 项结果，共 0 项",
                        infoFiltered: "(由 _MAX_ 项结果过滤)",
                        infoPostFix: "",
                        search: "搜索:",
                        url: "",
                        emptyTable: "没有匹配结果",
                        loadingRecords: "载入中...",
                        thousands: ",",
                        paginate: {
                            first: "首页",
                            previous: "上一页",
                            next: "下一页",
                            last: "末页"
                        },
                        aria: {
                            sortAscending: ": 以升序排列此列",
                            sortDescending: ": 以降序排列此列"
                        }
                    },  
                });
            $("#search").keyup(function () { table1.api().search($("#search").val()).draw(); });
            //#endregion

            //Select2
            $('.select2').select2();
            //#endregion

            //#region 日期区间选择事件
            $("#date_select").change(function () {
                var flag = parseInt($("#date_select").val());
                switch (flag) {
                    // 当天
                    case 0:
                        $('#date_beg').val(getTodayDate);
                        $('#date_end').val(getCurrentDate);
                        break;
                    // 昨天
                    case 1:
                        $('#date_beg').val(getYesterdayDate);
                        $('#date_end').val(getTodayDate);
                        break;
                    // 本周
                    case 2:
                        $('#date_beg').val(getWeekStartDate);
                        $('#date_end').val(getWeekEndDate);
                        break;
                    // 当月
                    case 3:
                        $('#date_beg').val(getMonthStartDate);
                        $('#date_end').val(getCurrentDate);
                        break;
                    // 上个月
                    case 4:
                        $('#date_beg').val(getPreMonthStartDate);
                        $('#date_end').val(getMonthStartDate);
                        break;
                    // 最近三月
                    case 5:
                        $('#date_beg').val(getTreeMonthStartDate);
                        $('#date_end').val(getCurrentDate);
                        break;
                    // 最近一年
                    case 6:
                        $('#date_beg').val(getYearStartDate);
                        $('#date_end').val(getCurrentDate);
                        break;
                    default:
                        $('#date_beg').val("");
                        $('#date_end').val("");
                        break;
                }
                table1.api().draw();
            });
            //#endregion
        });
    </script>
}
