@model IEnumerable<JJNG.Data.Finance.FncHouseNumber>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.HouseNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FncHouseType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.HouseNumber)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.FncHouseType.HouseTypeId)
    </td>
    <td>
        <a asp-action="Edit" asp-route-id="@item.HouseNumberId">Edit</a> |
        <a asp-action="Details" asp-route-id="@item.HouseNumberId">Details</a> |
        <a asp-action="Delete" asp-route-id="@item.HouseNumberId">Delete</a>
    </td>
</tr>
}
    </tbody>
</table>
