@model Tuple<List<FncChannelType>, List<FncPaymentType>, List<FncEarningType>, List<FncExpendType>>

@{
    var actionName = ViewContext.RouteData.Values["action"].ToString();
    var controllerName = ViewContext.RouteData.Values["controller"].ToString();
    var areaName = ViewContext.RouteData.Values["area"].ToString();
    ViewData["action"] = actionName;
    ViewData["controller"] = controllerName;
    ViewData["area"] = areaName;
    ViewData["Title"] = controllerName;
    string path = "/" + areaName + "/" + controllerName;
}
<section class="content">
    <div class="row">
        <div class="col-md-3">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">渠道分类</h3>
                    <div class="box-tools pull-right">
                        <a title="跳转至渠道分类" asp-action="Index" asp-controller="FncChannelType" asp-area="Finance" style="padding-top:2px;"><i class="fa fa-link"></i></a>
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                    </div>
                </div>
                <div class="box-body table-responsive">
                    <div class="form-group">
                        <div class="col-md-12" style="margin-bottom:10px;">
                            <input type="text" placeholder="搜索" id="search1" class="form-control">
                        </div>
                    </div>
                    <table id="table-1" class="table  table-bordered table-striped table-hover" width="100%">
                        <thead>
                            <tr>
                                <th>
                                    渠道分类
                                </th>
                                <th>
                                    顺序
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Item1)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ChannelType)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Sequence)
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">付款方式</h3>
                    <div class="box-tools pull-right">
                        <a title="跳转至付款方式" asp-action="Index" asp-controller="FncPaymentType" asp-area="Finance" style="padding-top:2px;"><i class="fa fa-link"></i></a>
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                    </div>
                </div>
                <div class="box-body table-responsive">
                    <div class="form-group">
                        <div class="col-md-12" style="margin-bottom:10px;">
                            <input type="text" placeholder="搜索" id="search2" class="form-control">
                        </div>
                    </div>
                    <table id="table-2" class="table  table-bordered table-striped table-hover" width="100%">
                        <thead>
                            <tr>
                                <th>
                                    付款方式
                                </th>
                                <th>
                                    顺序
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Item2)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.PaymentType)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Sequence)
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">收入分类</h3>
                    <div class="box-tools pull-right">
                        <a title="跳转至收入分类" asp-action="Index" asp-controller="FncEarningType" asp-area="Finance" style="padding-top:2px;"><i class="fa fa-link"></i></a>
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                    </div>
                </div>
                <div class="box-body table-responsive">
                    <div class="form-group">
                        <div class="col-md-12" style="margin-bottom:10px;">
                            <input type="text" placeholder="搜索" id="search3" class="form-control">
                        </div>
                    </div>
                    <table id="table-3" class="table  table-bordered table-striped table-hover" width="100%">
                        <thead>
                            <tr>
                                <th>
                                    收入分类
                                </th>
                                <th>
                                    顺序
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Item3)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.EarningType)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Sequence)
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">支出分类</h3>
                    <div class="box-tools pull-right">
                        <a title="跳转至支出分类" asp-action="Index" asp-controller="FncExpendType" asp-area="Finance" style="padding-top:2px;"><i class="fa fa-link"></i></a>
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                    </div>
                </div>
                <div class="box-body table-responsive">
                    <div class="form-group">
                        <div class="col-md-12" style="margin-bottom:10px;">
                            <input type="text" placeholder="搜索" id="search4" class="form-control">
                        </div>
                    </div>
                    <table id="table-4" class="table  table-bordered table-striped table-hover" width="100%">
                        <thead>
                            <tr>
                                <th>
                                    支出分类
                                </th>
                                <th>
                                    顺序
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Item4)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ExpendType)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Sequence)
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts{
    <script>
        $(function () {
            var table1 = $('#table-1').DataTable(
                {
                    order: [[1, "asc"]],
                    paging:false,
                    dom:
                        "<'row'<'col-sm-6'><'col-sm-6'>>" +
                        "<'row'<'col-sm-12'tr>>" +
                        "<'row'<'col-sm-5'i><'col-sm-7'p>>",
                    language: {
                        processing: "加载中...",
                        lengthMenu: "每页显示 _MENU_ 条数据",
                        zeroRecords: "没有匹配结果",
                        info: "显示第 _START_ 至 _END_ 项结果，共 _TOTAL_ 项",
                        infoEmpty: "显示第 0 至 0 项结果，共 0 项",
                        infoFiltered: "(由 _MAX_ 项结果过滤)",
                        infoPostFix: "",
                        search: "搜索:",
                        url: "",
                        emptyTable: "没有匹配结果",
                        loadingRecords: "载入中...",
                        thousands: ",",
                        paginate: {
                            first: "首页",
                            previous: "上一页",
                            next: "下一页",
                            last: "末页"
                        },
                        aria: {
                            sortAscending: ": 以升序排列此列",
                            sortDescending: ": 以降序排列此列"
                        }
                    },
                });
            $("#search1").keyup(function () { table1.search($("#search1").val()).draw(); });
            var table2 = $('#table-2').DataTable(
                {
                    order: [[1, "asc"]],
                    paging: false,
                    dom:
                        "<'row'<'col-sm-6'><'col-sm-6'>>" +
                        "<'row'<'col-sm-12'tr>>" +
                        "<'row'<'col-sm-5'i><'col-sm-7'p>>",
                    language: {
                        processing: "加载中...",
                        lengthMenu: "每页显示 _MENU_ 条数据",
                        zeroRecords: "没有匹配结果",
                        info: "显示第 _START_ 至 _END_ 项结果，共 _TOTAL_ 项",
                        infoEmpty: "显示第 0 至 0 项结果，共 0 项",
                        infoFiltered: "(由 _MAX_ 项结果过滤)",
                        infoPostFix: "",
                        search: "搜索:",
                        url: "",
                        emptyTable: "没有匹配结果",
                        loadingRecords: "载入中...",
                        thousands: ",",
                        paginate: {
                            first: "首页",
                            previous: "上一页",
                            next: "下一页",
                            last: "末页"
                        },
                        aria: {
                            sortAscending: ": 以升序排列此列",
                            sortDescending: ": 以降序排列此列"
                        }
                    },
                });
            $("#search2").keyup(function () { table2.search($("#search2").val()).draw(); });
            var table3 = $('#table-3').DataTable(
                {
                    order: [[1, "asc"]],
                    paging: false,
                    dom:
                        "<'row'<'col-sm-6'><'col-sm-6'>>" +
                        "<'row'<'col-sm-12'tr>>" +
                        "<'row'<'col-sm-5'i><'col-sm-7'p>>",
                    language: {
                        processing: "加载中...",
                        lengthMenu: "每页显示 _MENU_ 条数据",
                        zeroRecords: "没有匹配结果",
                        info: "显示第 _START_ 至 _END_ 项结果，共 _TOTAL_ 项",
                        infoEmpty: "显示第 0 至 0 项结果，共 0 项",
                        infoFiltered: "(由 _MAX_ 项结果过滤)",
                        infoPostFix: "",
                        search: "搜索:",
                        url: "",
                        emptyTable: "没有匹配结果",
                        loadingRecords: "载入中...",
                        thousands: ",",
                        paginate: {
                            first: "首页",
                            previous: "上一页",
                            next: "下一页",
                            last: "末页"
                        },
                        aria: {
                            sortAscending: ": 以升序排列此列",
                            sortDescending: ": 以降序排列此列"
                        }
                    },
                });
            $("#search3").keyup(function () { table3.search($("#search3").val()).draw(); });
            var table4 = $('#table-4').DataTable(
                {
                    order: [[1, "asc"]],
                    paging: false,
                    dom:
                        "<'row'<'col-sm-6'><'col-sm-6'>>" +
                        "<'row'<'col-sm-12'tr>>" +
                        "<'row'<'col-sm-5'i><'col-sm-7'p>>",
                    language: {
                        processing: "加载中...",
                        lengthMenu: "每页显示 _MENU_ 条数据",
                        zeroRecords: "没有匹配结果",
                        info: "显示第 _START_ 至 _END_ 项结果，共 _TOTAL_ 项",
                        infoEmpty: "显示第 0 至 0 项结果，共 0 项",
                        infoFiltered: "(由 _MAX_ 项结果过滤)",
                        infoPostFix: "",
                        search: "搜索:",
                        url: "",
                        emptyTable: "没有匹配结果",
                        loadingRecords: "载入中...",
                        thousands: ",",
                        paginate: {
                            first: "首页",
                            previous: "上一页",
                            next: "下一页",
                            last: "末页"
                        },
                        aria: {
                            sortAscending: ": 以升序排列此列",
                            sortDescending: ": 以降序排列此列"
                        }
                    },
                });
            $("#search4").keyup(function () { table4.search($("#search4").val()).draw(); });
        });
    </script>
}
