@model JJNG.Data.Branch.BrhStewardAccounts

@{
    Layout = "_CreateEditLayout";
    var actionName = ViewContext.RouteData.Values["action"].ToString();
    var controllerName = ViewContext.RouteData.Values["controller"].ToString();
    var areaName = ViewContext.RouteData.Values["area"].ToString();
    ViewData["action"] = actionName;
    ViewData["controller"] = controllerName;
    ViewData["area"] = areaName;
}

<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<div class="form-group">
    <input type="hidden" asp-for="StewardAccountsId" value="@ViewData["StewardAccountsId"]" class="form-control" />
</div>
<div class="col-md-3">
    <div class="form-group">
        <label asp-for="CustomerName" class="control-label"></label>
        <input asp-for="CustomerName" class="form-control" />
        <span asp-validation-for="CustomerName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="HouseNumber" class="control-label"></label>
        <input asp-for="HouseNumber" class="form-control" />
        <span asp-validation-for="HouseNumber" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ProductType" class="control-label"></label>
        <input asp-for="ProductType" class="form-control" />
        <span asp-validation-for="ProductType" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Product" class="control-label"></label>
        <input asp-for="Product" class="form-control" />
        <span asp-validation-for="Product" class="text-danger"></span>
    </div>
</div>
<div class="col-md-3">
    <div class="form-group">
        <label asp-for="Cost" class="control-label"></label>
        <input asp-for="Cost" value="0" id="cost" class="form-control" />
        <span asp-validation-for="Cost" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Amount" class="control-label"></label>
        <input asp-for="Amount" value="0" id="amount" class="form-control" />
        <span asp-validation-for="Amount" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Profit" class="control-label"></label>
        <input asp-for="Profit" id="profit" readonly="readonly" class="form-control" />
        <span asp-validation-for="Profit" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Receivable" class="control-label"></label>
        <input asp-for="Receivable" value="0" class="form-control" />
        <span asp-validation-for="Receivable" class="text-danger"></span>
    </div>
</div>
<div class="col-md-3">
    <div class="form-group">
        <label asp-for="Received" class="control-label"></label>
        <input asp-for="Received" value="0" id="received" readonly="readonly"  class="form-control" />
        <span asp-validation-for="Received" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="EnteringStaff" class="control-label"></label>
        <input asp-for="EnteringStaff" value="@ViewData["UserName"]" readonly="readonly" style="color:red" class="form-control" />
        <span asp-validation-for="EnteringStaff" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="FrontDesk" class="control-label"></label>
        <input asp-for="FrontDesk" class="form-control" />
        <span asp-validation-for="FrontDesk" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="FrontDeskLeader" class="control-label"></label>
        <input asp-for="FrontDeskLeader" class="form-control" />
        <span asp-validation-for="FrontDeskLeader" class="text-danger"></span>
    </div>
</div>
<div class="col-md-3">
    <div class="form-group">
        <label asp-for="StewardLeader" class="control-label"></label>
        <input asp-for="StewardLeader" class="form-control" />
        <span asp-validation-for="StewardLeader" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="RelationStaff" class="control-label"></label>
        <input asp-for="RelationStaff" class="form-control" />
        <span asp-validation-for="RelationStaff" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Branch" class="control-label"></label>
        <input asp-for="Branch" value="@ViewData["BelongTo"]" readonly="readonly" style="color:red" class="form-control" />
        <span asp-validation-for="Branch" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Note" class="control-label"></label>
        <input asp-for="Note" class="form-control" />
        <span asp-validation-for="Note" class="text-danger"></span>
    </div>
</div>

<div class="col-md-12 no-margin no-padding">
    <div class="col-md-4">
        <div class="form-group">
            <label class="control-label">付款方式1</label>
            @Html.DropDownList("payway1", ViewData["PaymentType"] as SelectList, "请选择", new { @class = "form-control" })
        </div>
        <div class="form-group">
            <label class="control-label">付款方式2</label>
            @Html.DropDownList("payway2", ViewData["PaymentType"] as SelectList, "请选择", new { @class = "form-control" })
        </div>
        <div class="form-group">
            <label class="control-label">付款方式3</label>
            @Html.DropDownList("payway3", ViewData["PaymentType"] as SelectList, "请选择", new { @class = "form-control" })
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label class="control-label">付款日期</label>
            <input name="paydate1" id="createDate3" type="date" class="form-control" />
        </div>
        <div class="form-group">
            <label class="control-label">付款日期</label>
            <input name="paydate2" id="createDate4" type="date" class="form-control" />
        </div>
        <div class="form-group">
            <label class="control-label">付款日期</label>
            <input name="paydate3" id="createDate5" type="date" class="form-control" />
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label class="control-label">付款金额</label>
            <input name="payamount1" id="payamount1" type="text" class="form-control" />
        </div>
        <div class="form-group">
            <label class="control-label">付款金额</label>
            <input name="payamount2" id="payamount2" type="text" class="form-control" />
        </div>
        <div class="form-group">
            <label class="control-label">付款金额</label>
            <input name="payamount3" id="payamount3" type="text" class="form-control" />
        </div>
    </div>
</div>
<script>
    //#region 功能模块
    function formatDate(date) {
        var myyear = date.getFullYear();
        var mymonth = date.getMonth() + 1;
        var myweekday = date.getDate();

        if (mymonth < 10) {
            mymonth = "0" + mymonth;
        }
        if (myweekday < 10) {
            myweekday = "0" + myweekday;
        }
        return (myyear + "-" + mymonth + "-" + myweekday);
    }
    function checkIsDouble(checkString) {

        var reg = /^[0-9,.]*$/;

        if (reg.test(checkString)) {
            return true;
        }
        alert("输入数字");
        return false;
    }
    function DateDiff(sDate1, sDate2) {    //sDate1和sDate2是2002-12-18格式
        var aDate, oDate1, oDate2, iDays
        aDate = sDate1.split("-")
        oDate1 = new Date(aDate[1] + '-' + aDate[2] + '-' + aDate[0])    //转换为12-18-2002格式
        aDate = sDate2.split("-")
        oDate2 = new Date(aDate[1] + '-' + aDate[2] + '-' + aDate[0])
        iDays = parseInt(Math.abs(oDate1 - oDate2) / 1000 / 60 / 60 / 24)    //把相差的毫秒数转换为天数
        return iDays
    }
    //#endregion

    //#region 填充日期
    var now = new Date();
    var nowDay = now.getDate();
    var nowMonth = now.getMonth();
    var nowYear = now.getFullYear();
    var tomorrow = new Date(nowYear, nowMonth, nowDay + 1);
    $('#createDate1').val(formatDate(now));
    $('#startDate').val(formatDate(now));
    $('#createDate3').val(formatDate(now));
    $('#createDate4').val(formatDate(now));
    $('#createDate5').val(formatDate(now));
    $('#endDate').val(formatDate(tomorrow));
    //#endregion

    //#region change/keyup事件
    $('#payamount1').keyup(function () {
        var pay1 = document.getElementById("payamount1").value;
        var pay2 = document.getElementById("payamount2").value;
        var pay3 = document.getElementById("payamount3").value;
        var result = 0.00;
        if (checkIsDouble(pay1))
            result += parseFloat(pay1);
        if (parseFloat(pay2) > 0)
            result += parseFloat(pay2);
        if (parseFloat(pay3) > 0)
            result += parseFloat(pay3);
        $('#received').val(result.toString());
    });
    $('#payamount2').keyup(function () {
        var pay1 = document.getElementById("payamount1").value;
        var pay2 = document.getElementById("payamount2").value;
        var pay3 = document.getElementById("payamount3").value;
        var result = 0.00;
        if (checkIsDouble(pay2))
            result += parseFloat(pay2);
        if (parseFloat(pay1) > 0)
            result += parseFloat(pay1);
        if (parseFloat(pay3) > 0)
            result += parseFloat(pay3);
        $('#received').val(result.toString());
    });
    $('#payamount3').keyup(function () {
        var pay1 = document.getElementById("payamount1").value;
        var pay2 = document.getElementById("payamount2").value;
        var pay3 = document.getElementById("payamount3").value;
        var result = 0.00;
        if (checkIsDouble(pay3))
            result += parseFloat(pay3);
        if (parseFloat(pay1) > 0)
            result += parseFloat(pay1);
        if (parseFloat(pay2) > 0)
            result += parseFloat(pay2);
        $('#received').val(result.toString());
    });
    $('#cost,#amount').keyup(function () {
        var cost = document.getElementById("cost").value;
        var amount = document.getElementById("amount").value;
        var result = 0.00;
        result = amount-cost;
        $('#profit').val(result.toString());
    });
    //#endregion

    //#region 细节设置
    $('input[type="checkbox"].flat-blue, input[type="radio"].flat-blue').iCheck({
        checkboxClass: 'icheckbox_flat-blue',
        radioClass: 'iradio_flat-blue'
    });
    //#endregion
</script>
