@model IEnumerable<JJNG.Data.Branch.BrhConnectRecord>

@{
    var actionName = ViewContext.RouteData.Values["action"].ToString();
    var controllerName = ViewContext.RouteData.Values["controller"].ToString();
    var areaName = ViewContext.RouteData.Values["area"].ToString();
    ViewData["action"] = actionName;
    ViewData["controller"] = controllerName;
    ViewData["area"] = areaName;
    ViewData["Title"] = controllerName;
    string path = "/" + areaName + "/" + controllerName;
}
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">交班记录<small class="hidden-xs" style="color:red">&emsp; @ViewData["BelongTo"].ToString() &nbsp;·&nbsp; @ViewData["UserName"].ToString()</small></h3>
                    <div class="box-tools pull-right">
                        <a id="createModal" data-toggle="modal" data-target="#modal-action" class="btn btn-box-tool" asp-action="Create"> 新增</a>
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                    </div>
                </div>
                <div class="box-body table-responsive">
                    <div class="form-group">
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <select id="date_select" class="form-control select2" style="width: 100%;">
                                <option value="7">全部</option>
                                <option value="0">今天</option>
                                <option value="1">昨天</option>
                                <option value="2">最后一周</option>
                                <option value="3">本月</option>
                                <option value="4">上个月</option>
                                <option value="5">最后三个月</option>
                                <option value="6">最后一年</option>
                            </select>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <input type="text" placeholder="开始日期" id="date_beg" class="form-control datepicker">
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <input type="text" placeholder="结束日期" id="date_end" class="form-control datepicker">
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <input type="text" placeholder="搜索" id="search" class="form-control">
                        </div>
                    </div>
                    <table id="table-1" class="table  table-bordered table-striped table-hover" width="100%">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.EnteringDate)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.MorningStaff)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.NigthStaff)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.BillCount)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.HouseCash)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.OtherCash)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.CardCount)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.EnteringStaff)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Branch)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Note)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.EnteringDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.MorningStaff)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.NigthStaff)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.BillCount)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.HouseCash)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.OtherCash)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CardCount)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.EnteringStaff)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Branch)
                                </td>
                                @{
                                    string note = item.Note;
                                    string note2 = note;
                                    if (note != null && note.Count() > 7)
                                    {
                                        note2 = note.Substring(0, 7);
                                    }
                                }
                                <td title="@note">
                                    @note2
                                </td>
                                <td>
                                    <a id="editModal" data-toggle="modal" asp-action="Edit" asp-route-id="@item.ConnectRecordId" data-target="#modal-action" class="btn-sm btn-primary" style="width:70px;margin-right:5px; min-width:50px;">
                                        <i class="glyphicon glyphicon-pencil"></i> 编辑
                                    </a>
                                    <a id="deleteModal" data-toggle="modal" asp-action="Delete" asp-route-id="@item.ConnectRecordId" data-target="#modal-action" class="btn-sm btn-danger" style="width:70px;margin-right:5px; min-width:50px;">
                                        <i class="glyphicon glyphicon-trash"></i> 删除
                                    </a>
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts{
    <script src="~/js/range_dates.js"></script>
    <script src="~/js/dateRangeSelector.js"></script>
    <script type="text/javascript" src="~/lib/bootstrap-datepicker/js/locales/bootstrap-datepicker.zh-CN.js" charset="UTF-8"></script>
    <script>
        $(function () {
            //#region table1初始化
            var table1 = $('#table-1').dataTable(
                {
                    responsive: true,
                    order: [[0, "desc"]],
                    dom:
                        "<'row'<'col-sm-6'><'col-sm-6'>>" +
                        "<'row'<'col-sm-12'tr>>" +
                        "<'row'<'col-sm-5'i><'col-sm-7'p>>",
                    language: {
                        processing: "加载中...",
                        lengthMenu: "每页显示 _MENU_ 条数据",
                        zeroRecords: "没有匹配结果",
                        info: "显示第 _START_ 至 _END_ 项结果，共 _TOTAL_ 项",
                        infoEmpty: "显示第 0 至 0 项结果，共 0 项",
                        infoFiltered: "(由 _MAX_ 项结果过滤)",
                        infoPostFix: "",
                        search: "搜索:",
                        url: "",
                        emptyTable: "没有匹配结果",
                        loadingRecords: "载入中...",
                        thousands: ",",
                        paginate: {
                            first: "首页",
                            previous: "上一页",
                            next: "下一页",
                            last: "末页"
                        },
                        aria: {
                            sortAscending: ": 以升序排列此列",
                            sortDescending: ": 以降序排列此列"
                        }
                    },
                });
            $("#search").keyup(function () { table1.api().search($("#search").val()).draw(); });
            $("#date_beg,#date_end").keyup(function () { table1.api().draw(); });
            $("#date_beg,#date_end").change(function () { table1.api().draw(); });
            //#endregion

            //#region 设置一些细节
            $(".datepicker").datepicker({
                format: 'yyyy-mm-dd',
                autoclose: true,
                language: "zh-CN",
                todayBtn: 'linked',
                todayHighlight: true,
                //initialDate:'now',
            });

            //Select2
            $('.select2').select2();
            //#endregion

            //#region 日期区间选择事件
            $("#date_select").change(function () {
                var flag = parseInt($("#date_select").val());
                switch (flag) {
                    // 当天
                    case 0:
                        $('#date_beg').val(getTodayDate);
                        $('#date_end').val(getCurrentDate);
                        break;
                    // 昨天
                    case 1:
                        $('#date_beg').val(getYesterdayDate);
                        $('#date_end').val(getTodayDate);
                        break;
                    // 本周
                    case 2:
                        $('#date_beg').val(getWeekStartDate);
                        $('#date_end').val(getWeekEndDate);
                        break;
                    // 当月
                    case 3:
                        $('#date_beg').val(getMonthStartDate);
                        $('#date_end').val(getCurrentDate);
                        break;
                    // 上个月
                    case 4:
                        $('#date_beg').val(getPreMonthStartDate);
                        $('#date_end').val(getMonthStartDate);
                        break;
                    // 最近三月
                    case 5:
                        $('#date_beg').val(getTreeMonthStartDate);
                        $('#date_end').val(getCurrentDate);
                        break;
                    // 最近一年
                    case 6:
                        $('#date_beg').val(getYearStartDate);
                        $('#date_end').val(getCurrentDate);
                        break;
                    default:
                        $('#date_beg').val("");
                        $('#date_end').val("");
                        break;
                }
                table1.api().draw();
            });
            //#endregion
        });
    </script>
}
