@model IEnumerable<JJNG.Data.Personnel.PsnNoteAccount>

@{
    var actionName = ViewContext.RouteData.Values["action"].ToString();
    var controllerName = ViewContext.RouteData.Values["controller"].ToString();
    var areaName = ViewContext.RouteData.Values["area"].ToString();
    ViewData["action"] = actionName;
    ViewData["controller"] = controllerName;
    ViewData["area"] = areaName;
    ViewData["Title"] = controllerName;
    string path = "/" + areaName + "/" + controllerName;
}
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary ">
                <div class="box-header with-border">
                    <h3 class="box-title">账号管理<small class="hidden-xs"  style="color:skyblue">&emsp; @ViewData["BelongTo"].ToString() &nbsp;·&nbsp; @ViewData["UserName"].ToString()</small></h3>
                    <div class="box-tools pull-right">
                        <a title="新增通讯录" class="btn btn-box-tool" id="createModal" data-toggle="modal" data-target="#modal-action" asp-action="Create"> 新增</a>
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                    </div>
                </div>
                <div class="box-body table-responsive">
                    <div class="form-group">
                        <div class="col-md-3 col-sm-6 col-xs-12 no-padding pull-right" style="margin-bottom:10px;">
                            <input type="text" placeholder="搜索" id="search" class="form-control">
                        </div>
                    </div>
                    <table id="table-1" class="table  table-bordered table-striped table-hover" width="100%">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.AccountName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Manager)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Department)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.BelongTo)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.AccountName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Manager)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Department)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.BelongTo)
                                    </td>
                                    <td>
                                        <a asp-action="Index" asp-controller="PsnNote" asp-route-area="Personnel" asp-route-id="@item.NoteAccountId" class="btn-sm btn-primary" style="width:70px;margin-right:5px; min-width:50px;">
                                            <i class="glyphicon glyphicon-plus"></i> 查看
                                        </a>
                                        <a id="editModal" data-toggle="modal" asp-action="Edit" asp-route-id="@item.NoteAccountId" data-target="#modal-action" class="btn-sm btn-primary" style="width:70px;margin-right:5px; min-width:50px;">
                                            <i class="glyphicon glyphicon-pencil"></i> 编辑
                                        </a>
                                        <a id="deleteModal" data-toggle="modal" asp-action="Delete" asp-route-id="@item.NoteAccountId" data-target="#modal-action" class="btn-sm btn-danger" style="width:70px;margin-right:5px; min-width:50px;">
                                            <i class="glyphicon glyphicon-trash"></i> 删除
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts{
    <script>
        $(function () {
            //#region table1初始化
            var table1 = $('#table-1').dataTable(
                {
                    responsive: true,
                    order: [[0, "desc"]],
                    dom:
                        "<'row'<'col-sm-6'><'col-sm-6'>>" +
                        "<'row'<'col-sm-12'tr>>" +
                        "<'row'<'col-sm-5'i><'col-sm-7'p>>",
                    language: {
                        processing: "加载中...",
                        lengthMenu: "每页显示 _MENU_ 条数据",
                        zeroRecords: "没有匹配结果",
                        info: "显示第 _START_ 至 _END_ 项结果，共 _TOTAL_ 项",
                        infoEmpty: "显示第 0 至 0 项结果，共 0 项",
                        infoFiltered: "(由 _MAX_ 项结果过滤)",
                        infoPostFix: "",
                        search: "搜索:",
                        url: "",
                        emptyTable: "没有匹配结果",
                        loadingRecords: "载入中...",
                        thousands: ",",
                        paginate: {
                            first: "首页",
                            previous: "上一页",
                            next: "下一页",
                            last: "末页"
                        },
                        aria: {
                            sortAscending: ": 以升序排列此列",
                            sortDescending: ": 以降序排列此列"
                        }
                    },
                });
            $("#search").keyup(function () { table1.api().search($("#search").val()).draw(); });
            //#endregion
        });
    </script>
}
