@model IEnumerable<JJNG.Data.Finance.FncBranch>
<div class="input-group hidden-xs">
    <div class="input-group-btn">
        <button type="button" class="btn btn-primary">店名</button>
    </div>
    <select id="branch" onchange="selectfun()" class="form-control" style="width: 150px;">
        @foreach (var b in Model)
        {
            var tempid = b.BranchId;
            var tempname = b.BranchName;
            var bid = Convert.ToInt32(ViewData["BranchId"]);
            if (tempid == bid)
            {
                <option value="@tempid" selected="selected">@tempname</option>
            }
            else
            {
                <option value="@tempid">@tempname</option>
            }
        }
    </select>
</div>
    <ul class="dropdown-menu">
        <li>
            <ul class="menu">
                @foreach (var b in Model)
                {
                    var tempid = b.BranchId;
                    var tempname = b.BranchName;
                    var bid = Convert.ToInt32(ViewData["BranchId"]);
                    <li>
                        <a asp-action="Index" asp-controller="FncFrontCalendar" asp-area="Finance" asp-route-branchId="@b.BranchId" asp-route-branchName="@b.BranchName" style="color:black">
                            @b.BranchName
                        </a>
                    </li>
                }
            </ul>
        </li>
    </ul>
<script>
    function selectfun() {
        var vs = $('#branch option:selected').val();
        var vt = $('#branch option:selected').html();
        window.location.href = "/Finance/FncFrontCalendar/Index?branchId=" + vs + "&branchName=" + vt;
    }
</script>