@model JJNG.Data.Branch.BrhMemo

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>BrhMemo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EnteringDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EnteringDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Memo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Memo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EnteringStaff)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EnteringStaff)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Branch)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Branch)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Note)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Note)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.MemoId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
